QtProject.conf
appimagelauncher.cfg
kitty
remmina
atuin
lazygit
spicetify
BraveSoftware
libreoffice
spotify
btop
mako
sqlitebrowser
builder
mimeapps.list
starship.toml
Code
mpv
swappy
Code\ -\ OSS
nordvpn
swaylock
configstore
nushell
systemd
dconf
Thunar
discord
obsidian
user-dirs.dirs
Electron
onlyoffice
user-dirs.locale
eww
pavucontrol.ini
waybar
fontconfig
pgadmin
wob
font-manager
pgadmin4
google-chrome
procps
xfce4
gtk-3.0
pulse
yay
HTTPie
qt5ct
